.btn-outline-custom-orange {
  color: #ff9933;
  border-color: #ff9933;
  transition: background-color 0.7s, color 0.7s;

}

.btn-outline-custom-orange:hover {
  background-color: #ff9933;
  color: white;
}

.btn-custom-orange {
  background-color: #ff9933;
  border-color: #ff9933;
  transition: background-color 0.7s, border-color 0.7s;

}

.btn-custom-orange:hover {
  background-color: #cc7700;
  border-color: #cc7700;
}
