<div class="modal-header">
  <h6 class="modal-title">Edit Profile</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editProfileForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">

    </div>
    <div class="form-group">
      <label for="profilePicture">Profile Picture</label>
      <select class="form-control" id="profilePicture" formControlName="profilePicture">
        <option *ngFor="let picture of profilePictures" [value]="picture">{{ picture }}</option>
      </select>
    </div>
  </form>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
</div>
