<app-navbar></app-navbar>

<div class="container">
  <ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let game of wishlist">
      <a [routerLink]="['/games', game._id]" style="text-decoration: none; color: inherit;">
        <div class="media">
          <img src="{{game.imageUrl}}" class="mr-3" alt="{{game.name}}" style="width: 120px; height: 80px;">
          <div class="media-body">
            <h5 class="mt-0">{{game.name}}</h5>
            <p>{{game.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">{{game.price == 0 ? 'Free' : game.price | currency}}</small>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="removeGameFromWishlist(game)">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>