<div id="search-component">
  <div class="search-bar">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search games" />
    <span class="search-icon"><i class="bi bi-search"></i></span>
  </div>
  <ul class="search-result">
    <li *ngFor="let game of games$ | async">
      <a routerLink="/games/{{game._id}}">
        <img src="{{ game.imageUrl }}" alt="{{ game.name }}" class="game-image">
        <span class="game-name">{{ game.name }}</span>
        <span class="game-price" *ngIf="game.price > 0">{{game.price}}</span>
        <span class="game-price" *ngIf="game.price === 0">Free</span>
      </a>
    </li>
  </ul>
</div>