.signup-container {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.password-input-container input {
  width: 100%;
}


input {
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* submit button */
button[type="submit"] {
  font-size: 15px;
  padding: 10px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* error message */
.error-message {
  color: red;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

/* success message */
.success-message {
  color: green;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  font-family: sans-serif;
}

