<div class="container d-flex justify-content-center align-items-center " style="height: 90vh;">
  <div class="background"></div>

  <div class="card p-4 border rounded shadow" style="width: 400px;">
    <h1 class="mt-1 text-center"><b>Welcome back!</b></h1>
    <h6 class="mb-1 text-center"><i>Don't have an account? <a class="text-decoration-none link-info"
          routerLink="/register" (click)="onRegisterLinkClick()" style="cursor: pointer;"> Create one </a></i></h6>

    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

        <!-- username input -->
        <div class="form-floating mb-3 mt-4">
          <input type="text" class="form-control is-neutral" formControlName="username" id="username"
            placeholder="Username" required [ngClass]="{ 'is-invalid': loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched || (formSubmitted && !loginForm.controls['username'].value)),
            'is-valid': loginForm.controls['username'].valid }">
          <label for="username">Username</label>
          <div class="invalid-feedback">
            <div
              *ngIf="loginForm.controls['username'].errors && (loginForm.controls['username'].dirty || formSubmitted)"
              class="error-message">
              <ul>
                <li *ngIf="loginForm.controls['username'].errors['required']">Username is required.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- password input -->
        <div class="form-floating mb-4">
          <input type="password" class="form-control is-neutral" formControlName="password" id="password"
            placeholder="Password" formControlName="password" required [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched || (formSubmitted && !loginForm.controls['password'].value)),
            'is-valid': loginForm.controls['password'].valid }">
          <label for="password">Password</label>
          <div class="invalid-feedback">
            <div
              *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || formSubmitted)"
              class="error-message">
              <ul>
                <li *ngIf="loginForm.controls['password'].errors['required']">Password is required.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- register button -->
        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-info btn-lg mt-4" style="color:white; font-size: 17px;">Login</button>
        </div>

      </form>
    </div>
  </div>

  <div class="alert alert-danger alert-dismissible fade show fixed-top w-25 p-3" role="alert" *ngIf="errorMessage">
    <strong>Error!</strong> <p>{{errorMessage}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert-success alert-dismissible fade show fixed-top w-25 p-3" role="alert" *ngIf="registrationSuccessMessage">
    <strong>Account created!</strong> <p> You can now login</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

</div>
