<div class="background"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand p-2 ml-3">Marketplace33</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <form class="form-inline">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-info" type="submit"><i class="bi bi-search-heart text-white"></i></button>
        </div>
      </div>
    </form>
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img [src]="user?.profilePicture" class="rounded-circle mr-1" alt="profile picture" style="width:30px;height:30px;">
        {{user?.username}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="redirectToDashboard()">Dashboard</a>
        <a class="dropdown-item" (click)="redirectToProfile()">My Account</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>

<div class="container d-flex justify-content-center align-items-center " style="height: 90vh;">
  <div class="card border rounded shadow fix-bottom" style="width: 60vh; height: 75vh;">
    <div class="card-header text-center">
      <img [src]="user?.profilePicture" alt="{{ user?.username }}'s profile picture" class="img-fluid mx-auto mb-3 img-thumbnail" style="width: 150px; height: 150px;">
      <h1 class="card-title"> {{ user?.username | uppercase }} </h1>

    </div>
  <div class="card-body">

  </div>
  </div>
</div>
