@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');


h1, .navbar-brand {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 3em;
}

.background {
  background: linear-gradient(to right, #D3A7E3, #8EC5FC, #A6E3D7, #FFD3B6, #FFB6B9);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1.2;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
