<div class="background"></div>

<app-navbar></app-navbar>

<ng-container *ngIf="loading; else profile">
  <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>

<ng-template #profile>
  <div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div *ngIf="user" class="card border rounded shadow fix-bottom" style="width: 60vh; height: 75vh;">
      <div class="card-header text-center">
        <div class="d-flex justify-content-end">
          <div *ngIf="isOwnProfile()" class="mt-2">
            <button class="btn btn-info text-white" (click)="openEditProfileModal()">edit profile</button>
          </div>
        </div>
        <img [src]="user.profilePicture" alt="{{ user.username }}'s profile picture"
          class="img-fluid mx-auto mb-3 img-thumbnail" style="width: 150px; height: 150px;">
        <h1 class="card-title"> {{ user.username | uppercase }} </h1>
      </div>
      <div class="card-body">
      </div>
    </div>
    <div *ngIf="!user" class="alert alert-danger" role="alert">
      Profile not found.
    </div>
  </div>
</ng-template>

