<div class="signup-container">
  <h2>Create an Account</h2>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <label>
        Username:
        <input type="text" formControlName="username" />
        <div *ngIf="signupForm.controls['username'].errors && (signupForm.controls['username'].dirty || formSubmitted)" class="error-message">
          <div *ngIf="signupForm.controls['username'].errors['required']">Username is required.</div>
          <div *ngIf="signupForm.controls['username'].errors['minlength']">Username must be at least 3 characters long.</div>
          <div *ngIf="signupForm.controls['username'].errors['pattern']">Username must only contain alphanumeric characters.</div>
        </div>
      </label>
    </div>

    <div class="form-group">
      <label>
        Password:
        <input type="password" formControlName="password" />
        <div *ngIf="signupForm.controls['password'].errors && (signupForm.controls['password'].dirty || formSubmitted)" class="error-message">
          <div *ngIf="signupForm.controls['password'].errors['required']">Password is required.</div>
          <div *ngIf="signupForm.controls['password'].errors['minlength']">Password must be at least 8 characters long.</div>
          <div *ngIf="signupForm.controls['password'].errors['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one digit.</div>
        </div>
      </label>
    </div>
    <button type="submit">Submit</button>
  </form>

  <div *ngIf="confirmationMessage" class="success-message">
    {{ confirmationMessage }}
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
